/*Subject to change for design, this the play area*/
.playArea {
    background-color: rgb(235, 93, 93);
    height: 1400px;
    width: 1300px;
    margin: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70px;
    left: 215px;

}
/* background of the game*/
body {
    background-color: rgb(103, 212, 139);
    width: 1440px;
    height: 1024px;
    padding: 20px;
    position: absolute; 
}

#backDeck{
    position: relative;
    height: 300px;
    width: 200px;
}

#Player1Hand > img{
    height: 400px;
    width: 270px;
}

#Player2hand > img{
    height: 400px;
    width: 270px;
}
#endTurn{
    width: 250px;
    height: 90px;
    font-size: larger;
    top: 55px;
    left: 1325px;
}